@keyframes lds-ripple {
  0% {
    top: 82px;
    left: 82px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 11px;
    left: 11px;
    width: 142px;
    height: 142px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 82px;
    left: 82px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 11px;
    left: 11px;
    width: 142px;
    height: 142px;
    opacity: 0;
  }
}
.lds-css {
  margin: 0 auto;
}
.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 18px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 2.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 2.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #a5bf29;
}
.lds-ripple div:nth-child(2) {
  border-color: #3c344e;
  -webkit-animation-delay: -1.25s;
  animation-delay: -1.25s;
}
.lds-ripple {
  width: 107px;
  height: 107px;
  -webkit-transform: translate(-53.5px, -53.5px) scale(0.535)
    translate(53.5px, 53.5px);
  transform: translate(-53.5px, -53.5px) scale(0.535) translate(53.5px, 53.5px);
}
